@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .link{
        @apply  cursor-pointer hover:underline;
    }
    body{
        @apply text-white bg-e_primary;
    }
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ECB365;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }